*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body,html{
width: 100%;
height: 100%;
font-family: Gilroy;
}
.page{
  position: relative;
  width: 100%;
  height: 100vh;
  color: #fff;
  background-image: url(https://images.unsplash.com/photo-1720371300677-ba4838fa0678?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  object-fit: cover;
  object-position: bottom;
}
.page h1{ 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20vh;
}
.page:nth-child(2){
  background-image: url(https://images.unsplash.com/photo-1720316194738-848e8b4dccfa?q=80&w=2020&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  object-fit: cover;
  object-position: bottom;
}
.page:nth-child(3){
background-image: url(https://images.unsplash.com/photo-1719300368274-9efe9c6b2d37?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
object-fit: cover;
object-position: bottom;
}
