*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body,html{
width: 100%;
height: 100%;
background-color: #000;
color: #fff;
font-family: Gilroy;
}

#box{
    width: 300px;
    height: 300px;
    background-color: crimson;
    margin: 15px 15px;
    border-radius: 10px;
}
#box1{
    width: 300px;
    height: 300px;
    background-color: lightskyblue;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    padding: 35px 25px;
    margin-bottom:25px;
    cursor: pointer;
}
#logo h1{
    font-size: 50px;
    background: -webkit-linear-gradient(#ffffff, #1f1f1f);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  
}
nav #nav-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-size: 17px;
}

#main>h1{
    text-align: center;
    font-size: 20vh;
    margin: 10vw; 
    background: linear-gradient(to right, red, orange, yellow, crimson, blue, indigo, violet);
    background-size: 200%;
    -webkit-background-clip: text;
    color: transparent;
    white-space: nowrap;
    background-clip: text   
}

button{
    position: absolute;
    top: 60%;
    left:50%;
    transform: translate(-50%, -50%);
    margin-top: 2vw;
    margin-bottom: 3vw;
    padding: 1vw 3vw;
    font-size: 18px;
    font-weight: 700;
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    border: none;
    border-radius: 25px;   
    color: white;
    cursor: pointer;
    transition: background 0.5s;    
}
button:hover{
    background: linear-gradient(90deg, #feb47b, #ff7e5f);
}
